.box{
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    border: 2px solid black;
    position: relative;

    animation-name: movingg;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes movingg{
    0%{left: 10px;}
    100%{left: 100px;}
    
}